USE [master]
GO
/****** Object:  Database [ProjectDB]    Script Date: 2020-10-20 오전 2:06:01 ******/
CREATE DATABASE [ProjectDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ProjectDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjectDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ProjectDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjectDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjectDB]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 2020-10-20 오전 2:06:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[account_number] [int] NOT NULL,
	[bank_name] [varchar](30) NULL,
	[customer_id] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[account_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 2020-10-20 오전 2:06:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[bill_id] [int] NOT NULL,
	[amount] [decimal](6, 2) NULL,
	[customer_id] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[bill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carries]    Script Date: 2020-10-20 오전 2:06:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carries](
	[bill_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[bill_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 2020-10-20 오전 2:06:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[email] [varchar](30) NOT NULL,
	[pw] [varchar](30) NULL,
	[name] [varchar](30) NULL,
	[address] [varchar](200) NULL,
	[phone] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2020-10-20 오전 2:06:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[id] [int] NOT NULL,
	[name] [varchar](30) NULL,
	[price] [decimal](5, 2) NULL,
	[quantity] [int] NULL,
	[category] [varchar](30) NULL,
	[supplier_id] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settles]    Script Date: 2020-10-20 오전 2:06:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settles](
	[bill_id] [int] NOT NULL,
	[account_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[bill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 2020-10-20 오전 2:06:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[email] [varchar](30) NOT NULL,
	[pw] [varchar](30) NULL,
	[name] [varchar](30) NULL,
	[address] [varchar](200) NULL,
	[phone] [varchar](12) NULL,
	[review] [decimal](2, 1) NULL,
PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Accounts] ([account_number], [bank_name], [customer_id]) VALUES (0, N'Wells Fargo', N'customer_0@gmail.com')
INSERT [dbo].[Accounts] ([account_number], [bank_name], [customer_id]) VALUES (1, N'BBVA', N'customer_1@gmail.com')
INSERT [dbo].[Accounts] ([account_number], [bank_name], [customer_id]) VALUES (2, N'US Bank', N'customer_2@gmail.com')
GO
INSERT [dbo].[Bills] ([bill_id], [amount], [customer_id]) VALUES (0, CAST(443.09 AS Decimal(6, 2)), N'customer_249@gmail.com')
INSERT [dbo].[Bills] ([bill_id], [amount], [customer_id]) VALUES (1, CAST(210.36 AS Decimal(6, 2)), N'customer_401@gmail.com')
INSERT [dbo].[Bills] ([bill_id], [amount], [customer_id]) VALUES (2, CAST(247.65 AS Decimal(6, 2)), N'customer_454@gmail.com')
GO
INSERT [dbo].[Carries] ([bill_id], [product_id], [quantity]) VALUES (0, 0, 2)
INSERT [dbo].[Carries] ([bill_id], [product_id], [quantity]) VALUES (0, 1, 3)
INSERT [dbo].[Carries] ([bill_id], [product_id], [quantity]) VALUES (0, 2, 3)
GO
INSERT [dbo].[Customers] ([email], [pw], [name], [address], [phone]) VALUES (N'customer_0@gmail.com', N'password_0', N'name_0', N'address_0', N'phone_0')
INSERT [dbo].[Customers] ([email], [pw], [name], [address], [phone]) VALUES (N'customer_1@gmail.com', N'password_1', N'name_1', N'address_1', N'phone_1')
INSERT [dbo].[Customers] ([email], [pw], [name], [address], [phone]) VALUES (N'customer_10@gmail.com', N'password_10', N'name_10', N'address_10', N'phone_10')
GO
INSERT [dbo].[Products] ([id], [name], [price], [quantity], [category], [supplier_id]) VALUES (0, N'product_name_0', CAST(17.53 AS Decimal(5, 2)), 1, N'Automotive', N'supplier_0@gmail.com')
INSERT [dbo].[Products] ([id], [name], [price], [quantity], [category], [supplier_id]) VALUES (1, N'product_name_1', CAST(97.26 AS Decimal(5, 2)), 3, N'Pet Supplies', N'supplier_0@gmail.com')
INSERT [dbo].[Products] ([id], [name], [price], [quantity], [category], [supplier_id]) VALUES (2, N'product_name_2', CAST(38.75 AS Decimal(5, 2)), 5, N'Fashion', N'supplier_1@gmail.com')
GO
INSERT [dbo].[Settles] ([bill_id], [account_id]) VALUES (0, 249)
INSERT [dbo].[Settles] ([bill_id], [account_id]) VALUES (1, 401)
INSERT [dbo].[Settles] ([bill_id], [account_id]) VALUES (2, 454)
GO
INSERT [dbo].[Suppliers] ([email], [pw], [name], [address], [phone], [review]) VALUES (N'supplier_0@gmail.com', N'password_0', N'name_0', N'address_0', N'phone_0', CAST(7.1 AS Decimal(2, 1)))
INSERT [dbo].[Suppliers] ([email], [pw], [name], [address], [phone], [review]) VALUES (N'supplier_1@gmail.com', N'password_1', N'name_1', N'address_1', N'phone_1', CAST(5.2 AS Decimal(2, 1)))
INSERT [dbo].[Suppliers] ([email], [pw], [name], [address], [phone], [review]) VALUES (N'supplier_10@gmail.com', N'password_10', N'name_10', N'address_10', N'phone_10', CAST(4.2 AS Decimal(2, 1)))
GO
USE [master]
GO
